@model IEnumerable<WebApplication3.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Depts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
</head>
<body>
    <h1>员工管理</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">新建员工</a>
        <a asp-action="Import" class="btn btn-primary">导入员工</a>
    </p>
    <table id="userTable" class="table">
        <thead>
            <tr>
                <th>员工编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>岗位 ID</th>
                <th>部门 ID</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Uid)</td>
                    <td>@Html.DisplayFor(modelItem => item.Uname)</td>
                    <td>@Html.DisplayFor(modelItem => item.Usex)</td>
                    <td>@Html.DisplayFor(modelItem => item.PidNavigation.Pid)</td>
                    <td>@Html.DisplayFor(modelItem => item.DidNavigation.Did)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Uid"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Uid"><i class="fas fa-info-circle"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Uid"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 初始化DataTables
            $('#userTable').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese.json'
                }
            });
        });
    </script>
</body>
</html>