@model WebApplication3.Models.Dnotice

@{
    ViewData["Title"] = "Delete";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Depts.css">
</head>
<body>
    <h3>你确定要删除这条记录吗？</h3>
    <div class="delete-container">
        <h4>Dnotice</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                调岗时间
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Naddtime)
            </dd>
            <dt class="col-sm-2">
                到岗时间
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ncontime)
            </dd>
            <dt class="col-sm-2">
                原本岗位编号
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NpostNavigation.Pid)
            </dd>
            <dt class="col-sm-2">
                去向岗位编号
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NpostoNavigation.Pid)
            </dd>
            <dt class="col-sm-2">
                员工编号
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nu.Uid)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Nuid" />
            <input type="submit" value="删除" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">返回列表</a>
        </form>
    </div>
</body>
</html>