@model WebApplication3.Models.Dnotice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dnotice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naddtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naddtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ncontime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ncontime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NpostNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NpostNavigation.Pid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NpostoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NpostoNavigation.Pid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nu.Uid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Nuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
